In [36]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importing the dataset 
dataset = pd.read_csv(r'C:\Users\SARTHAK\Documents\udemy\dataset\Churn_Modelling.csv')

In [37]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [38]:
dataset.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [39]:
dataset=dataset.drop(columns=['RowNumber','CustomerId','Surname'])

In [40]:
dataset=pd.get_dummies(dataset)
dataset.columns

Index(['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited', 'Geography_France',
       'Geography_Germany', 'Geography_Spain', 'Gender_Female', 'Gender_Male'],
      dtype='object')

In [41]:
dataset.shape

(10000, 14)

In [42]:
dataset=dataset.drop(['Gender_Male','Geography_Spain'],1)
dataset.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Gender_Female
0,619,42,2,0.00,1,1,1,101348.88,1,1,0,1
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,42,8,159660.80,3,1,0,113931.57,1,1,0,1
3,699,39,1,0.00,2,0,0,93826.63,0,1,0,1
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1

In [43]:
x = dataset.drop(['Exited'],1)
y = dataset['Exited']

In [44]:
y

0       1
1       0
2       1
3       0
4       0
5       1
6       0
7       1
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      1
17      0
18      0
19      0
20      0
21      0
22      1
23      0
24      0
25      0
26      0
27      0
28      0
29      0
       ..
9970    0
9971    0
9972    0
9973    0
9974    0
9975    1
9976    0
9977    0
9978    0
9979    0
9980    0
9981    1
9982    1
9983    0
9984    0
9985    0
9986    0
9987    0
9988    0
9989    0
9990    0
9991    1
9992    0
9993    0
9994    0
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [45]:

# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

C:\Users\Sarthak\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Sarthak\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\Sarthak\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:10: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  # Remove the CWD from sys.path while we load stuff.

In [46]:
x_train.shape

(8000, 11)

In [47]:
import keras
from keras.models import Sequential
from keras.layers import Dense


#Sequential --for initializing the neural network
#Dense ---for drawing  layers of ann

In [48]:
classifier=Sequential()
# i/p layer  and then hiddenlayer
#selection of no of hidden layer is art but we take (no of i/p + no of o/p)/2
#2nd para is how u assign the weight to the model ie through socastic gradient 
#3rd para is activation function
#input_dim---caloumn nAMES
classifier.add(Dense(output_dim=6,init='uniform',activation='relu',input_dim=11 ))

C:\Users\Sarthak\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:7: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=11, units=6, kernel_initializer="uniform")`
  import sys

In [49]:
#add 2nd hidden layer
classifier.add(Dense(output_dim=6,init='uniform',activation='relu'))
#add output layer
classifier.add(Dense(output_dim=1,init='uniform',activation='sigmoid'))
# activation='sig'  becz we need to find prob
'''
In case we have many categories of output we must change the output_dim to no of unique features of o/p variables  as o/p will be onehutencoded
and function to soft max to deal with multiple o/p
'''

C:\Users\Sarthak\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=6, kernel_initializer="uniform")`

C:\Users\Sarthak\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`
  after removing the cwd from sys.path.

'\nIn case we have many categories of output we must change the output_dim to no of unique features of o/p variables  as o/p will be onehutencoded\nand function to soft max to deal with multiple o/p\n'

In [50]:
'''
we have only defined neural network ie weight has been initialized
through this we update the optimal weight
o/p has 2 category   loss function is 'binay_crossentropy'
o/p has more than 2 category   loss function is 'categorial_crossentropy'
'''
#metric --calculate accuracy
classifier.compile(optimizer='adam',
                loss='binary_crossentropy',metrics=['accuracy'])

In [51]:
classifier.fit(x_train,y_train,batch_size=10,nb_epoch=100)

C:\Users\Sarthak\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

Epoch 1/100
8000/8000 [==============================] - 1s 138us/step - loss: 0.4816 - acc: 0.7960
Epoch 2/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.4267 - acc: 0.7960
Epoch 3/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4203 - acc: 0.8059
Epoch 4/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4173 - acc: 0.8265
Epoch 5/100
8000/8000 [==============================] - 1s 101us/step - loss: 0.4152 - acc: 0.8289
Epoch 6/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.4134 - acc: 0.8312
Epoch 7/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.4123 - acc: 0.8325
Epoch 8/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.4114 - acc: 0.8320
Epoch 9/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.4100 - acc: 0.8325
Epoch 10/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.4092 - acc: 0.8324
Epoch 11/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4088 - acc: 0.8331
Epoch 12/100
8000/8000 [==============================] - 1s 103us/step - loss: 0.4079 - acc: 0.8345
Epoch 13/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.4073 - acc: 0.8349
Epoch 14/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.4069 - acc: 0.8345
Epoch 15/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.4061 - acc: 0.8346
Epoch 16/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.4060 - acc: 0.8327
Epoch 17/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.4051 - acc: 0.8342
Epoch 18/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.4048 - acc: 0.8337
Epoch 19/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.4045 - acc: 0.8331
Epoch 20/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.4041 - acc: 0.8326
Epoch 21/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.4037 - acc: 0.8345
Epoch 22/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.4037 - acc: 0.8349 0s - loss: 0.4043 - acc:
Epoch 23/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.4030 - acc: 0.8315
Epoch 24/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4032 - acc: 0.8331
Epoch 25/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.4026 - acc: 0.8345
Epoch 26/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.4024 - acc: 0.8334
Epoch 27/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.4023 - acc: 0.8341
Epoch 28/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.4020 - acc: 0.8331
Epoch 29/100
8000/8000 [==============================] - ETA: 0s - loss: 0.4036 - acc: 0.835 - 1s 104us/step - loss: 0.4016 - acc: 0.8356
Epoch 30/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.4015 - acc: 0.8340
Epoch 31/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.4026 - acc: 0.8332
Epoch 32/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.4017 - acc: 0.8347
Epoch 33/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.4020 - acc: 0.8346
Epoch 34/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.4018 - acc: 0.8334
Epoch 35/100
8000/8000 [==============================] - 1s 102us/step - loss: 0.4010 - acc: 0.8354
Epoch 36/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.4021 - acc: 0.8342
Epoch 37/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.4018 - acc: 0.8340
Epoch 38/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.4014 - acc: 0.8360
Epoch 39/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.4013 - acc: 0.8350
Epoch 40/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.4012 - acc: 0.8346
Epoch 41/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.4009 - acc: 0.8345
Epoch 42/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.4013 - acc: 0.8357
Epoch 43/100
8000/8000 [==============================] - 1s 103us/step - loss: 0.4018 - acc: 0.8350
Epoch 44/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.4007 - acc: 0.8325
Epoch 45/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.4014 - acc: 0.8325
Epoch 46/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.4013 - acc: 0.8357
Epoch 47/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.4012 - acc: 0.8346
Epoch 48/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.4011 - acc: 0.8339
Epoch 49/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.4010 - acc: 0.8347
Epoch 50/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.4010 - acc: 0.8351
Epoch 51/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.3998 - acc: 0.8356
Epoch 52/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.4005 - acc: 0.8334
Epoch 53/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.4011 - acc: 0.8349
Epoch 54/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.4012 - acc: 0.8355
Epoch 55/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.4008 - acc: 0.8359
Epoch 56/100
8000/8000 [==============================] - 1s 102us/step - loss: 0.4004 - acc: 0.8346
Epoch 57/100
8000/8000 [==============================] - 1s 102us/step - loss: 0.4007 - acc: 0.8336
Epoch 58/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.4009 - acc: 0.8347
Epoch 59/100
8000/8000 [==============================] - 1s 103us/step - loss: 0.4007 - acc: 0.8349
Epoch 60/100
8000/8000 [==============================] - 1s 100us/step - loss: 0.4006 - acc: 0.8359
Epoch 61/100
8000/8000 [==============================] - ETA: 0s - loss: 0.4024 - acc: 0.833 - 1s 102us/step - loss: 0.4006 - acc: 0.8341
Epoch 62/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.4006 - acc: 0.8356
Epoch 63/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.4007 - acc: 0.8364
Epoch 64/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.4009 - acc: 0.8355
Epoch 65/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4005 - acc: 0.8352
Epoch 66/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.4001 - acc: 0.8370
Epoch 67/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.4002 - acc: 0.8355
Epoch 68/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4008 - acc: 0.8354
Epoch 69/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.4006 - acc: 0.8360
Epoch 70/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4001 - acc: 0.8344
Epoch 71/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.3995 - acc: 0.8370
Epoch 72/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.4003 - acc: 0.8352
Epoch 73/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.4001 - acc: 0.8340
Epoch 74/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.4003 - acc: 0.8334
Epoch 75/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.4001 - acc: 0.8367
Epoch 76/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.3998 - acc: 0.8359
Epoch 77/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.4000 - acc: 0.8352
Epoch 78/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.4001 - acc: 0.8351
Epoch 79/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.3995 - acc: 0.8356
Epoch 80/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4000 - acc: 0.8347
Epoch 81/100

8000/8000 [==============================] - 1s 101us/step - loss: 0.3999 - acc: 0.8347
Epoch 82/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4002 - acc: 0.8360
Epoch 83/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.3998 - acc: 0.8332
Epoch 84/100
8000/8000 [==============================] - 1s 101us/step - loss: 0.4002 - acc: 0.8357
Epoch 85/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.3997 - acc: 0.8350
Epoch 86/100
8000/8000 [==============================] - 1s 103us/step - loss: 0.3994 - acc: 0.8334
Epoch 87/100
8000/8000 [==============================] - 1s 102us/step - loss: 0.4003 - acc: 0.8351
Epoch 88/100
8000/8000 [==============================] - 1s 103us/step - loss: 0.3997 - acc: 0.8357
Epoch 89/100
8000/8000 [==============================] - 1s 103us/step - loss: 0.4004 - acc: 0.8354
Epoch 90/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.4002 - acc: 0.8370
Epoch 91/100
8000/8000 [==============================] - 1s 103us/step - loss: 0.4000 - acc: 0.8354
Epoch 92/100
8000/8000 [==============================] - 1s 103us/step - loss: 0.3999 - acc: 0.8361
Epoch 93/100
8000/8000 [==============================] - 1s 103us/step - loss: 0.3998 - acc: 0.8361
Epoch 94/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.4000 - acc: 0.8352
Epoch 95/100
8000/8000 [==============================] - 1s 104us/step - loss: 0.4000 - acc: 0.8351
Epoch 96/100
8000/8000 [==============================] - 1s 103us/step - loss: 0.3990 - acc: 0.8352
Epoch 97/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.3999 - acc: 0.8369
Epoch 98/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.3996 - acc: 0.8357
Epoch 99/100
8000/8000 [==============================] - 1s 102us/step - loss: 0.3997 - acc: 0.8364
Epoch 100/100
8000/8000 [==============================] - 1s 103us/step - loss: 0.3995 - acc: 0.8356

In [52]:


# Predicting the Test set results
y_pred = classifier.predict(x_test)
y_pred = (y_pred > 0.5)

#y_pred contains prob whether customer will leave the bank or not
#but cm takes only 0 or 1
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [61]:
cm

array([[1543,   52],
       [ 273,  132]], dtype=int64)

In [54]:
dataset.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Gender_Female
0,619,42,2,0.00,1,1,1,101348.88,1,1,0,1
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,42,8,159660.80,3,1,0,113931.57,1,1,0,1
3,699,39,1,0.00,2,0,0,93826.63,0,1,0,1
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1

In [60]:
x.head(1)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Gender_Female
0,619,42,2,0.0,1,1,1,101348.88,1,0,1

In [65]:
new_prediction=classifier.predict(sc.transform(np.array([[ 600.0,40,
            3,60000,2,1,1,50000,1,0,0 ]])))

In [66]:
 new_prediction=(new_prediction>0.5)

In [67]:
new_prediction

array([[False]])